configuration{
    modi: "run,window,combi,emoji,calc";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "uxterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🖥️  All ";
    display-run: " 🏃  Run ";
    display-window: " 🪟  Window";
    display-emoji: " 🎭  Emoji";
    display-calc: " 🧮  Calc";
    display-clipboard: " 📋  Clipboard";
    sidebar-mode: true;
    font: "JetBrainsMono Nerd Font Medium 10";
}
